{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<div id="preset">BFDjango TODO</div>
<div class="container">
	<form action="{% url 'main:add_list' %}" method="POST">
		{% csrf_token %}
		<input type="text" placeholder="List Name" name="addListText" />
		<input id="addBtn" type="submit" value="Add List" name="addListBtn" />
	</form>
	<hr/>
	<h1>Created Lists</h1>
	{% if latest_task_list %}
		<ul>
			{% for task_list in latest_task_list %}
				<li><a href="{% url 'main:detail' task_list.id %}">{{ task_list.task_list_name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No lists are available.</p>
	{% endif %}
</div>