{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<div id="preset">BFDjango TODO</div>
<div class="container">
	<input type="button" id="addTask" value="Add Task">
	<hr/>
	{% if task %}
		<h1>Completed tasks in {{task.list_name}}</h1>
			<table style="width:100%" class="table">
				<tr class="column_names">
					<th>Task</th>
					<th>Created</th>
					<th>Due on</th>
					<th>Owner</th>
					<th>Mark</th>
				</tr>
				{% for t in task %}
					<tr class="columns">
						<td id="task">Task {{ t.task_order }}</td>
						<td>{{ t.created_at|date:"d/m/y" }}</td>
						<td>{{ t.due_on|date:"d/m/y" }}</td>
						<td>{{ t.owner }}</td>
						<td id="mark">
							{% if t.mark %}
								Done
							{% else %}
								Not Done
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		<input type="button" id="view" value="View completed tasks">
		<input type="button" id="delete" value="Delete this list">
	{% else %}
		<p>No tasks are available.</p>
	{% endif %}
</div>