#preset {
	width: 100%;
	background-color: #2d2d2d;
	color: white;
	padding: 5px;
	margin: 10px 0px;
}

.container {
	left: 150px;
	position: absolute;
}

#addBtn {
	background-color: #134bec;
	color: white;
	padding: 5px;
	margin: 10px 0px;
}

th, td {
	display: inline-block;	
	padding-right: 50px;
	text-align: left;
	margin: 10px 0px;
}

#task {
	color: #5780cd;
}

#mark {
	padding: 5px;
	background-color: #008282;
}

#view {
	background-color: #ffa500;
}

#delete {
	background-color: #ec134b;
}

#back {
	background-color: #cf161e;	
}